:root {
  --color-black: #010101;
  --color-white: #d9d9d9;
  --color-primary: #28343a;
  --color-dark: #203139;
  --color-yellow: #f1b83f;
  --color-dark-gray: #2a2a2a;
}

html,
body {
  height: 100%; /* Устанавливаем высоту для html и body */
  margin: 0; /* Убираем отступы */
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  display: flex; /* Делаем body flex-контейнером */
  flex-direction: column; /* Элементы располагаются вертикально */
  color: var(--color-white);
  background: var(--color-primary);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}

main {
  position: relative;
  z-index: 0;
  flex: 1; /* Заставляем main занимать доступное пространство */
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

footer {
  margin-top: auto;
  background: var(--color-dark-gray);
  padding: 20px;
  color: var(--color-white);
}

.def-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-size: calc(28px + 12 * (100vw / 1440));
  line-height: 1.3em;
  letter-spacing: 0.01em;
  color: var(--color-white);
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 65px;
  }
}

@media (max-width: 500px) {
  body {
    background-color: var(--color-dark);
  }

  .def-title {
    margin-bottom: 25px;
  }
}
