:root {
  --color-white: #fff;
  --color-dark: #28343a;
}

body {
  color: var(--color-white);
  background: var(--color-dark);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
