.partners {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100px 0;
  background: url("../../../../../public/images/partners/partnersBg.png")
    no-repeat center/cover;

  .partnersContainer {
    position: relative;
    z-index: 1;
  }

  .list {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  .partners {
    .list {
      gap: 50px;
      justify-content: center;
    }
    .partnersTitle {
      margin-bottom: 50px;
    }
  }
}
