.localeWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected {
  width: auto; // Изменил с фиксированной ширины на auto, чтобы вместить текст
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 5px; // Добавил внутренний отступ для красоты
}

.dropdown {
  position: absolute;
  top: 25px;
  left: -4px;
  background: #1a1a1a;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown li {
  list-style: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start; // Изменил с center на flex-start для выравнивания слева
  transition: background 0.2s;
  cursor: pointer;

  &:hover {
    background: #333;
  }
}

.label {
  margin-left: 8px; // Отступ между флагом и текстом
  color: #fff; // Цвет текста (настраивай под свой дизайн)
  font-size: 14px; // Размер шрифта (можно изменить)
}
