.item {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 18px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.inner {
  padding: 10px 22px 30px 22px;
  color: var(--color-black);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgWrapper {
  width: 100%;
  height: 245px;
  overflow: hidden;
  background-color: var(--color-dark);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.innerTitle {
  font-family: var(--font-ibm);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.text {
  font-family: var(--font-nunito);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
  color: #2a2a2a;
  color: var(--color-dark-gray);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 7;
  -webkit-line-clamp: 7;
  text-align: center;
  margin-bottom: 20px;
}

.noImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 245px;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.innerBtn {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 20px;
  line-height: 80%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  background-color: var(--color-yellow);
  padding: 15px;
  width: 100%;
  max-width: 255px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid var(--color-yellow);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--color-yellow);
    background-color: var(--color-white);
    border: 1px solid var(--color-yellow);
  }
}
