.contacts {
  padding: 200px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../../public/images/heroBg.png") no-repeat
      top/cover;
    z-index: -1;
  }

  .wrapper {
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form {
    width: 100%;
    max-width: 500px;
    border-radius: 32px;
    padding: 50px 40px;
    background-color: var(--color-dark);
  }

  .inputWrapper {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .input {
    width: 100%;
    padding: 20px 10px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #bebebe;
    }
  }

  .textArea {
    padding: 20px 10px;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    height: 150px;
    resize: none;
    border: 1px solid var(--color-white);
    margin: 30px 0;
    color: var(--color-white);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #bebebe;
    }
  }

  .formBtn {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    font-family: var(--font-montserrrat);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    background-color: var(--color-yellow);
    border: 1px solid transparent;
    transition: all 0.3s;

    &:hover {
      border: 1px solid var(--color-yellow);
      background-color: transparent;
    }

    &:active {
      opacity: 0.2;
    }
  }

  .link {
    gap: 10px;
    display: flex;
    align-items: center;
  }

  .right {
    width: 100%;
    max-width: 567px;
    display: flex;
    gap: 50px;
    flex-direction: column;
  }

  .link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3em;
    color: #ddd;
  }

  .text {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 180%;
    color: var(--color-white);
    font-weight: 400;

    & span {
      font-weight: 800;
    }
  }
}

@media (max-width: 991px) {
  .contacts {
    padding: 140px 0;

    .wrapper {
      gap: 30px;
    }
    .form {
      padding: 20px;
    }
    .textArea {
      margin: 15px 0;
    }
    .right {
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 140px 0 100px;

    .wrapper {
      gap: 40px;
      align-items: center;
      flex-direction: column;
    }

    .link {
      font-size: 18px;

      & svg {
        width: 30px;
        height: 30px;
      }
    }

    .text {
      font-size: 18px;
    }
  }
}

@media (max-width: 500px) {
  .contacts {
    padding: 140px 0 50px;
  }
}
