.item {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 18px;
  display: grid;
  grid-template-rows: auto 1fr;
}

.inner {
  padding: 10px 22px 30px 22px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.imgWrapper {
  width: 100%;
  height: 245px;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.innerTitle {
  font-family: var(--font-ibm);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.text {
  color: var(--color-dark-gray);
}