.responsiveContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

// Показываем десктопное изображение только на больших экранах
.desktopImage {
  @media (max-width: 768px) {
    display: none;
  }
}

// Показываем мобильное изображение только на маленьких экранах
.mobileImage {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }
}
