.about {
  width: 100%;
  height: 100vh;
  background: url("../../../../../public/images/heroBg.png") no-repeat
    center/cover;

  .aboutContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list {
    gap: 50px;
    display: flex;
    align-items: center;
  }

  .content {
    width: 600px;
  }

  .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 15px;
  }

  .imgWrapper {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: 375px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 70px;
      left: -50px;
      width: 120px;
      height: 120px;
      background: url("../../../../../public/images/pageAbout/coins.png")
        no-repeat center/cover;
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      top: -50px;
      left: 40px;
      width: 85px;
      height: 85px;
      background: url("../../../../../public/images/pageAbout/coins.png")
        no-repeat center/cover;
      z-index: -1;
      transform: rotate(45deg);
    }

    & img {
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 1200px) {
  .about {
    .imgWrapper {
      position: relative;
      &::after {
        top: -30px;
      }
    }
  }
}

@media (max-width: 991px) {
  .about {
    .imgWrapper {
      position: relative;
      &::after {
        top: -15px;
      }
    }
  }
}

@media (max-width: 850px) {
  .about {
    background-image: none;
    padding-top: 80px;
    .list {
      flex-direction: column;
    }

    .text {
      line-height: 1.3em;
    }

    .aboutTitle {
      margin-bottom: 20px;
    }

    .imgWrapper {
      max-height: 350px;

      & img {
        object-fit: contain;
      }

      &::after {
        top: -60px;
        left: 140px;
      }

      &::before {
        left: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 20px;

    .content {
      width: 100%;
      max-width: 500px;
    }

    .text {
      font-size: 16px;
    }
  }
}

@media (max-width: 500px) {
  .about {
    padding-top: 150px;
    .imgWrapper {
      &::before {
        left: -35px;
      }
      &::after {
      }
    }
  }
}

@media (max-width: 400px) {
  .about {
    .imgWrapper {
      &::after {
        top: -40px;
      }

      &::before {
        left: -70px;
      }
    }
  }
}
