.documents {
  padding: 200px 0;

  .accordionWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
  }

  .documentsTitle {
    margin-bottom: 30px;
  }

  .lawText {
    font-family: var(--font-sourcePro);
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    margin-bottom: 25px;
  }
}
